@import "../style/variables";
.row {
  justify-content: center;
  gap: 30px;
}
.category {
  color: gray;
}

.hidden {
  display: none !important;
}
.card {
  cursor: pointer;
  width: 18rem;
}
.btn-info {
  background-color: $primary_orange;
  color: white;
  border: none;
}
.card-img-top {
  height: 300px;
}

.list {
  .row {
    flex-direction: column;
    .card {
      width: 100%;
      flex-direction: row;
      img {
        width: 300px;
        height: 300px;
      }
    }
  }
}

.show-option {
  margin-bottom: 20px;
}
